.cart {
  &_cropped {
    width: 32px;
    height: 30px;
  }
  height: 46px;
  max-width: 128px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  text-decoration: none;
  a{
    text-decoration: none;
    color: inherit;
  }

  &__img {
    width: 46px;
    height: 46px;
    position: relative;
    background-image: url('../../assets/images/basket.svg');
  }
  &__img.cart_cropped {
    background-image: url('../../assets/images/basket-cropped.svg');
    width: 25px;
    height: 25px;
  }
  &__goods {
    width: 22px;
    height: 22px;
    background-color: #FFC85E;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__goods.cart_cropped {
    width: 17px;
    height: 17px;
    right: -10px;
    font-size: 10px;
  }

  &__total {
    display: flex;
    flex-direction: column;
  }

  &__header {
    color: #3F4E65;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
  }

  &__price {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: black;
  }

}  