.goods {

  &__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
    width: max-content;
  }

  &__header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__wrapper {
    display: grid;
    gap: 21px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }

  &__select-order {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  &__pagination {
    ul {
      display: flex;
      flex-direction: row;
      gap: 21px;
      align-items: center;
    }

    li {
      list-style-type: none;
      cursor: pointer;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: #3F4E65;
      outline: none;
    }

    li.previous,
    li.next {
      color: #FFC85E;
    }

    li.selected a{
      display: flex;
      width: 35px;
      height: 35px;
      align-items: center;
      justify-content: center;
      background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      border-radius: 50%;
    }

  }

  &__filters {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  &__filter-wrapper {
    width: 100px;
    height: 70px;
    padding: 18px 19px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__params-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
  }

  &__main {
    display: flex;
    flex-direction: row;
  }
  
}