.logo {
  width: 156px;
  height: 66px;

  &__img {
    width: 156px;
    height: 66px;
    &_color_white {
      background-image: url('../../assets/images/logo-white.svg');
    }

    &_color_dark {
      background-image: url('../../assets/images/logo-dark.svg');
    }
  }
  &_small {
    width: 97px;
    height: 41px;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 0 0 97px;
  }
}