.cards {

  &__wrapper {
    display: grid;
    gap: 21px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }

  &__select-order {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
  
}