.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #111111;
  background: none;
  cursor: pointer;
  
  &_selected{
    color: blue;
  }

  &:hover {
    color: #7594c1;
  }

  & span::first-letter {
    text-transform: uppercase;
  }

}