.admin {
  padding: 45px 277px 0 277px;

  &__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
    cursor: auto;
    margin: 50px auto;
  }

  &__sub-header {
    margin-bottom: 20px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }

}
