.cart-page {
  padding: 45px 277px 0 277px;

  &__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: #111111;
    cursor: auto;
    margin: 50px auto;
  }

  &__prepare {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &__total {
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
  }
}

@media (max-width:1700px) {
  .cart-page {
    padding: 40px;
  }
}

@media (max-width:320px) {
  .cart-page {
    padding: 0;
    &__products {
      gap: 20px;
    }
    &__prepare {
      flex-direction: column-reverse;
      align-items: center;
      gap: 25px;
    }
  }
}
