.cards {
  padding: 2.34% 14.43% 60px 14.43%;

  &__header {
    font-family: 'Inter';
    font-size: 30px;
    line-height: 45px;
    font-weight: 400;
    i {
      font-style: normal;
      font-weight: 800;
    }
  }

  &__img {
    width: 664px;
    height: 471px;
    img {
      display: block;
      margin: 0 auto;
      object-fit: cover;
    }
  }

  &__bread-crumbs {
    display: flex;
    gap: 20px;
    a{
      text-decoration: none;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 65px;
  }
  
  &__quantity {
    display: flex;
    gap: 5px;
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__manufacturer,
  &__brand,
  &__barcode {
    // margin-top: 5px;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    color: #3F4E65;
    i {
      color: #111111;
      font-style: normal;
      font-family: 'Inter';
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }

  }

  &__price {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width:1700px) {
  .cards {
    padding: 40px;
  }
}

@media (max-width:1400px) {
  .cards {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__header {
      text-align: center;
    }
  }
}

@media (max-width:600px) {
  .cards {
    &__header {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
      i {
        font-style: normal;
        font-weight: 800;
      }
    }
    &__img {
      width: 256px;
      height: 179px;
      img {
        display: block;
        margin: 0 auto;
      }
    }

    &__price {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
    }
  }
}