.short-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1365px;
  width: 100%;
  border-bottom: 1px dashed rgba($color: #3F4E65, $alpha: 0.3);

  &__header {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #111111;
    margin-bottom: 10px;
    max-width: 480px;
    width: 100%;
  }

  &__full-description {
    max-width: 444px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #3F4E65;
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__img {
    width: 281px;
    height: 191px;

    img {
      width: 281px;
      height: 191px;
      object-fit: contain;
    }

  }
}