@import '../../styles/constants.scss';

.header {
  min-height: 169px;
  max-width: $max-width;
  width: 100%;
  margin-bottom: 100px;

  &__first-row {
    min-height: 61px;
    padding: 10px 14.427%;

    .cart {
      display: none;
    }

    .logo {
      display: none;
    }

  }

  &__second-row {
    min-height: 107px;
    padding: 10px 14.427%;
  }

  &__first-row,
  &__second-row {
    border-bottom: 1px solid rgba($color: #3F4E65, $alpha: 0.2);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__second-row .button_download-without-frames,
  &__second-row .button_search {
    display: none;
  }

  &__address {
    display: flex;
    flex-direction: row;
    gap: 42px;
  }

  &__tel {
    display: flex;
    flex-direction: column;
  }

  &__street {
    i {
      font-family: Inter;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: #111111;
    }
    color: #3F4E65;
    font-family: Inter;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }

  &__email {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;
    color: #111111;
  }

  &__tel span {
    color: #3F4E65;
  }

  &__address-wrapper {
    display: flex;
    gap: 15px;
  }

  &__location,&__envelope {
    width: 20px;
    height: 20px;
  }

  &__location {
    background-image: url('../../assets/images/geoposition.svg');
    background-size: cover;
  }

  &__envelope {
    background-image: url('../../assets/images/envelope.svg');
    background-size: cover;
  }

  &__image {
    height: 92px;
    flex: 0 0 92px;
    width: 70px;
    background-image: url('../../assets/images/girl.svg');
    background-size: cover;
  }

}

@media (max-width:1700px){
  .header {
    &__image {
      display: none;
    }
    &__first-row,
    &__second-row{
      padding: 10px 20px;
    }
  }
}

@media (max-width:1140px){
  .header .button_download-wide {
    display: none;
  }
}

@media (max-width:1140px){
  .header {

    &__first-row {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

  }
}

@media (max-width:950px){
  .header {
    .logo {
      display: block;
    }

    .cart {
      display: block;
    }

    &__first-row {
      align-items: center;
      flex-direction: row;
    }

    &__address {
      display: none;
    }

  }
}

@media (max-width:950px){
  .header__second-row .logo,
  .header__second-row .cart{
    display: none;
  }
}

@media (max-width:640px){
  .header {
    &__second-row .contacts{
      display: none;
    }
    &__second-row .button_download-without-frames,
    &__second-row .button_search {
      display: flex;
    }
    &__second-row .button_download {
      display: none;
    }
    &__second-row .form_search {
      display: none;
    }
  }
}