.counter-delete {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;

  &__button {
    width: 43px;
    height: 34px;
    cursor: pointer;
    background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
    color: #3F4E65;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
  }
}
