.nav-list {

  &_dark {
    color: #3F4E65;
  }

  &__burger {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #FFC85E;
    border-radius: 50%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_white {
    color: white;
  }

  &__items {
    display: flex;
    gap: 60px;
    flex-direction: row;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__item:hover {
    a {
      color: gray;
    }
  }

  &__items.nav-list__items_vertival{
    flex-direction: column;
    gap: 20px;
  }

}

@media (max-width:950px) {
  .nav-list {
    &__burger {
      display: flex;
    }
    &__items .nav-list_burger{
      display: none;
    }
    &__items_visible {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }
}