.nav-list {

  &_dark {
    color: #3F4E65;
  }

  &_white {
    color: white;
  }

  &__items {
    display: flex;
    gap: 60px;
    flex-direction: row;
    padding: 0;
  }

  &__item {
    list-style-type: none;
    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__items.nav-list__items_vertival{
    flex-direction: column;
    gap: 20px;
  }
}