@import '../../styles/constants.scss';

.footer {
  min-height: 500px;
  color: white;
  padding: 10px;
  max-width: $max-width;
  width: 100%;
  background-color: #3F4E65;
  padding-left: 14.427%;
  padding-top: 71px;
  display: flex;
  flex-direction: row;
  gap: 3.07%;

  &__description {
    max-width: 320px;
    width: 100%;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 95px;
  }

  &__visa-img,
  &__mastercard-img {
    width: 61px;
    height: 39px;
  }

  &__right-side {
    display: flex;
    flex-direction: row;
  }

  &__visa-img {
    background-image: url('../../assets/images/visa.svg');
    background-size: cover;
  }

  &__mastercard-img {
    background-image: url('../../assets/images/mastercard.svg');
    background-size: cover;
  }

  &__messengers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
  }

  &__nav {
    margin-right: 95px;
  }

  &__price .button {
    margin-bottom: 20px;
  }

  &__price {
    margin-right: 95px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__work-hours {
    margin: 5px 0;
  }

  &__address_email {
    margin-top: 25px;
  }

  &__email {
    text-decoration: none;
    color: inherit;
  }

  &__cards {
    margin-top: 25px;
  }
}