@import '../../styles/constants.scss';

.footer {
  min-height: 500px;
  color: white;
  padding: 10px;
  max-width: $max-width;
  width: 100%;
  background-color: #3F4E65;
  padding-left: 14.427%;
  padding-top: 71px;
  display: flex;
  flex-direction: row;
  gap: 3.07%;
  font-family: 'Inter';

  &__logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  & .logo_small {
    display: none;
  }

  &__logo-wrapper .button_download-small{
    display: none;
  }

  &__description {
    max-width: 320px;
    width: 100%;
    line-height: 24px;
    margin-bottom: 45px;
    margin-top: 15px;
  }

  &__header {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    white-space: nowrap;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 95px;
  }

  &__visa-img,
  &__mastercard-img {
    width: 61px;
    height: 39px;
  }

  &__right-side {
    display: flex;
    flex-direction: row;
  }

  &__visa-img {
    background-image: url('../../assets/images/visa.svg');
    background-size: cover;
  }

  &__mastercard-img {
    background-image: url('../../assets/images/mastercard.svg');
    background-size: cover;
  }

  &__messengers {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
  }

  &__nav {
    margin-right: 95px;
  }

  &__price .button {
    margin-bottom: 20px;
  }

  &__price {
    margin-right: 95px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__work-hours {
    margin: 5px 0;
  }

  &__address_email {
    margin-top: 25px;
  }

  &__email {
    text-decoration: none;
    color: inherit;
  }

  &__cards {
    margin-top: 25px;
  }

  &__sub-header {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 14px;
  }

  &__wrapper {
    display: flex;
  }
}

@media (max-width:1500px) {
  .footer {
    padding: 50px;
  }
}

@media (max-width:1400px) {
  .footer {
    &__nav{
      margin-right: 20px;
      gap: 20px;
    }
    &__price {
      margin-right: 20px;
    }
  }
}

@media (max-width:1100px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;

    &__left-side {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width:700px) {
  .footer {
    &__right-side {
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    &__nav {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo-wrapper .button_download-small {
      display: flex;
    }

    &__logo-wrapper .logo_small {
      display: block;
    } 

    &__logo-wrapper .logo_common {
      display: none;
    }

    &__price h3,&__price .button_download-extra-wide{
      display: none;
    }

    &__description {
      margin-bottom: 15px;
    }

    &__wrapper {
      margin-top: 25px;
      flex-direction: row-reverse;
      justify-content: space-between;
      .footer__price {
        margin-top: 50px;
        margin-right: 0;
      }
    }

  }
}