@import './styles/constants.scss';
@import './styles/fonts.scss';

html,
body {
  height: 100%;
  font-size: $font-size;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  border: none;
}

#root {
  margin: 0 auto;
  h1 {
    font-size: 50px;
    font-family: 'Inter',sans-serif;
    margin: 20px auto;
    text-align: center;
  }
}