.contacts {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__tel {
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
  }

  &__callback {
    font-family: 'Inter';
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }

  &_dark {
    color: #111111;
    .contacts__work-hours {
      color: #3F4E65;
    }
    .contacts__callback {
      color: #3F4E65
    }
  }

  &_white {
    color: #FFFFFF;
    .contacts__work-hours {
      color: inherit;
    }
    .contacts__callback {
      color: inherit;
    }
  }
}